





<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="@Url.Content("~/Images/Onlineexam.css")"
          rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript">

        // Total seconds to wait
        var seconds = 150;

        function countdown() {
            seconds = seconds - 1;
            if (seconds < 0) {

                window.location = "@Url.Action( "TestFinishView","HomePageExamen")";
            } else {

                document.getElementById("countdown").innerHTML = seconds;

                window.setTimeout("countdown()", 1000);
            }
        }


        countdown();

        </script>

    </head>
    <body>

    </body>
</html>
</head>
<body>
   
    <div class="container body-content">
        @RenderBody()

       
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
</body>
</html>

